*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right,hsla(348,97%,63%,0.65),hsla(230,96%,62%,0.65)),url("IITISM.jpg");
    background-size: cover;
    height:100vh; 
                   
}
 
.card{
position:relative;
display:block;    
max-width: 1000px;
padding:50px;
box-shadow: 0 15px 20px rgba(0,0,0,.2);

}


@keyframes head1{
    0% { background-color: floralwhite; 
            border-width:inherit}
    25%{ background-color:mistyrose;
        border-width:inherit}  
}
h1{
    
    animation: type 1s steps(14) infinite alternate;
    overflow:hidden;
    white-space: nowrap;
    border-right:4px solid black;
    width:13ch;
    margin-left:500px;
    color: black;   
}
    
    @keyframes type{
    0%{
        width:0ch;
    }
    100%{
        width:14ch;
    }
    } 
#header h1{
    display:flex;   
}


#main-notice{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.notice-head{
    margin-top:40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: cursive;
    border: 2px black dashed;
    
}
